<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<!--bootstrap有几个样式 成功：success(绿色)  危险：danger（红色）警告：warning（黄色）
 深蓝色：primary   一般（info）浅蓝色  默认（default）灰色
-->
<!--bootstrap 叫栅格化布局-->
<div class="container" id="app">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <caption class="h3 text-warning">商品列表</caption>
                <tr>
                    <th class="text-center">商品名称</th>
                    <th class="text-center">商品价格</th>
                    <th class="text-center">商品数量</th>
                    <th class="text-center">操作</th>
                </tr>
                <tr class="text-center" v-for="value of phones">
                    <td>{{value.name}}</td>
                    <td>{{value.price}}</td>
                    <td><input type="text" v-model="value.count"></td>
                    <td>
                        <button class="btn btn-danger btn-sm" @click="remove(value)">删除</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <!--实时监控total的值-->
                        总价：{{total()}}
                    </td>
                </tr>
            </table>
            <form role="form">
                <div class="form-group">
                    <label for="username" class="control-label">商品名称</label>
                    <input type="text" class="form-control" id="username" placeholder="请输入商品名称" v-model="name">
                </div>
                <div class="form-group">
                    <label for="price" class="control-label">商品价格</label>
                    <input type="text" class="form-control" id="price" placeholder="请输入商品价格" v-model="price">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @click="add">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        methods: {
            total(){//如果在页面上通过{{total()}}，页面任何一个数据变化都会重新total
               let n=this.phones.reduce(function(prev,next){
                   return prev+next.price*next.count;
               },0);//不要取prev的值，让prev一直是个数字
               return n;
            },
            remove(value){
                //在phones数据中移除掉phone，filter
                this.phones=this.phones.filter((item)=>{
                    return item!=value;//返回false则删除  （删除!=）
                });
            },
            add(){
                let obj={price:this.price,count:1,name:this.name};//初始化要保证所有数据都存在，否则添加后不会被响应到页面
                this.name=this.price='';//输入完后清空输入框
                this.phones.push(obj);//将对象插入到输入框中
            }
        },
        data: {
            price:'',
            name:'',
            phones: [{name: '三星', price: 30, count: 2}, {name: '华为', price: 40, count: 7}, {
                name: '苹果', price: 100, count: 8
            }]
        }
    })
</script>
</body>
</html>